/* General */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding:0;
}

body{
    font-family : "Poppins", "sans-serif";
}

html{
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/*TRANSITION*/

a, .btn{
    transition: all 300ms ease;
}

/*Desktop Nav*/
nav{
    justify-content: space-around;
    align-items: center;
    height:12vh;
    display:flex;
    border-bottom:1px solid rgba(103,103,103, 0.3) ;
}

.nav-links{
    gap: 4rem;
    list-style: none;
    font-size: 1.5rem;
    display: flex;
}

a{
    color: black;
    font: weight 350;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color:blue;
    text-decoration:underline;
    text-underline-offset:0.75rem;
    text-decoration-color: grey;
}

.logo{
    font-size: 3rem;
    font-weight: 550;
}

.logo:hover{
    cursor: default;
}

/************ HAMBURGER MENU ***************/

#hamburger-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 24px;
    width: 30px;
    cursor:pointer;
}

.hamburger-icon span{
    width : 100%;
    height:2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position:absolute;
    top:100%;
    right:0;
    background-color: white;
    width:fit-content;
    max-height:0;
    overflow:hidden;
    transition:all 0.3 ease-in-out;
}

.menu-links a {
    display:block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}


.menu-links li {
    list-style: none;

}

.menu-links.open {
    max-height: 300px;

}

.hamburger-icon.open span:first-child{
    transform:rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform:rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}


/************ Section ***************/
section{
    padding-top: 1vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;  
}


/************ Profile Section ***************/
#profile{
    display: flex;
    justify-content: center;
    gap: 17rem;
    height:70vh;
}

.section-pic-container{
    display: flex;
    height:500px;
    width: 500px;
    justify-content: center; 
    padding-top: 5rem;
}

.section_text {
    align-self: center;
    text-align: left;
    padding: 2rem;
    margin-top: 3rem;
}

.title{
    font-size: 3rem;
}

.section_text p {
    font-weight: 600;
    font-size: 2.5rem;
}


.section_text_color{
    text-align: left;
    font-size:1.75rem;
    color: blue;
}

.section_text_end{
    margin-block-end: 2rem;
}


#social-container{
    display:flex;
    justify-content: left;
    margin-top: 2rem;
    gap: 1rem;
}

/* Icon */

.icon{
    cursor:pointer;
    height: 2rem;
}

.icon_email{
    height: 2.2rem;
}


/* Button */
.btn-container {
    display: flex;
    gap: 1rem;
    justify-content: left;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}



.btn-color-1 {
    color: white;
    background-color:black;
}

.btn-color-1:hover{
    cursor:pointer;
    background-color: gainsboro;
}




/********** About Section ***********/

#about {
    position: relative;
}

.about-container {
    margin:0 10rem;
    max-width: 1400px;
}

.about-title {
    color: blue;
    font-family: Georgia, serif;
}


.about-container p{
    line-height: 1.8;
    text-align: justify;
    font-size: 20px;
    font-family: Georgia, serif;
    margin: 2rem 0;

}

.btn-container-about{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

/********* Article Section *********/

article{
    display: flex;
    height: 80vh;
    padding-top: 1vh;
    margin: 0 10rem;
    box-sizing: border-box;
}

/************ Projects Section *************/
#projects {
    position: relative;
    margin: 0 15rem;

}

.project-container {
    display: flex;
    min-height: fit-content;
    box-sizing: border-box;
    align-items: left;
    margin: 0rem 10rem;
    max-width: 1000px;
}

.project-title{
    font-family: Georgia, serif;
    padding: 2rem;
}
.project-list {
    display:flex;
    flex-direction: column;
    gap: 2.5rem;
}

ul li .date {
    display: inline-block;
    width: 20rem;
    text-align: right;
    margin-right: 3rem;
}

li {
    position: relative;
    padding: 0;
    list-style: none;
}
.date{
    font-size:20px;
    font-style: italic;
    font-family:Geneva, Verdana, sans-serif;
}
a.project-list-name{
    font-size: 25px;
    display:inline;
    text-wrap: wrap;
}


/* CONTACT */

#contact {
    display: flex;
    max-height: 75vh;
}

.contact-container{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact-title{
    text-align: center;
    font-size: 4rem;
}
.email{
    text-align: center;
    font-size: 2rem;
}
.contact-social-container{
    text-align: center;
    margin-top: 2rem;
    gap: 2rem;
}

.icon{
    margin: 8px;
    height: 50px;
}


/*footer section*/

footer{
    height: 10vh;
    margin: 3rem 1rem;
    padding-top:0.5rem;
}

footer p {
    text-align: center;
}